/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


