# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

backend/__pycache__
backend/.pytest_cache
*/__pycache__/*

*/migrations/*
migrations/
*/uploads/*
uploads/